* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  gap: 20px;
}

.card {
  position: relative;
  width: 320px;
  height: 420px;
  background: black;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5 ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  background: rgb(0, 0, 255);
  top: -50%;
  width: 100%;
  height: 100%;
  transform: skewY(345deg);
}

.card:hover:before {
  top: -60%;
  transform: skewY(370deg);
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  color: #fff;
}

.card .imgbx {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .imgbx img {
  max-width: 80%;
  transition: 0.5s;
}

.card:hover .imgbx img {
  max-width: 50%;
}

.card .contentbx {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  color: #fff;
}

.card .contentbx h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentbx .buy {
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-bottom: 15px;
  text-decoration: none;
  color: #fff;
  background: rgb(0, 0, 255);
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentbx .buy {
  top: 0px;
  opacity: 1;
  margin-top: 30px;
}

/* modal */
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
